.contact-us {
    padding: 70px 0px;
    background: black;
}

.section-title p {
    padding-top: 10%;
    color: #e8e8e8;
    margin-bottom: 30px;
}
.contact-us input,
.contact-us textarea {
    background: #fafafa;
}
.contact-us textarea {
    min-height: 201px;
    max-width: 100%;
}
.contact-us .map {
    overflow: hidden;
    border-radius: 4px;
}

.row{
    padding-top:2%;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 8px;
  
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


 