* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

.container .slide-container .slide {
    display: flex;
}

img {
    width: 700px;
    height: 400px;
    margin: 30px 20px;
    border: 1px solid slategray;
    border-radius: 30px;
    box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.25),
        0px 10px 10px rgba(0, 0, 0, 0.2);
}

img:hover {
    /* box-shadow: 0 3px 6px rgba(0, 0,0, 0.15),
    0 3px 6px rgba(0, 0,0, 0.23); */
    transform: scale(1.2);
}

h3 {
    margin: 150px 20px 20px 180px;
    align-items: center;
    justify-content: center;
    color: grey;
    font-size: 2rem;
}

.container .slide-container .slide .content .btn {
    margin-top: 25px;
    display: inline-block;
    background: #666;
    color: white;
    font-size: 17px;
    padding: 9px 40px;
    margin-left: 150px;
}

.container .slide-container .slide .content .btn:hover {
    background: #333;

}

ul {
    list-style: none;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 150px;
    margin-top: 25px;
}

li {
    padding-top: 5px;
}

.fa {
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}

.checked {
    color: rgb(255, 178, 36);
}

.fa:hover {
    transform: scale(1.2);
    transition: .6s;
}


@media(max-width:500px) {
    .container #prev {
        left: 0px;
        top: 60%;
    }

    .container #next {
        right: 0px;
        top: 60%;
    }

}